doctype html
html
  head
    title FlexBox Nav 
    meta(charset = 'utf-8')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="style-ANSWER.css")
  body
    .app-wrap
      header.app-header
        a.button
          i.fa.fa-arrow-left
        h1 FlexBox App Layout
        a.button
          i.fa.fa-cog
      .content
        p 阳明子讲于事上磨练，亦可于事上知人
        p 夫知人之性，莫难查焉。美恶既殊，情貌不一。有温良而为诈者，有外恭而内自欺者，有外勇而内怯者，有尽力而不忠者。然知人之道有七焉：一曰，问之以是非而观其志；二曰，穷之以辞辨而观其变；三曰，资之以计谋而观其识；四曰，告之以祸福而观其勇；五曰，醉之以酒以观其性；六曰，临之以利以观其廉；七曰，期之以事以观其信
        img(src="https://img3.doubanio.com/icon/ul4159668-4.jpg")
        p 夫知人之性，莫难查焉。美恶既殊，情貌不一。有温良而为诈者，有外恭而内自欺者，有外勇而内怯者，有尽力而不忠者。然知人之道有七焉：一曰，问之以是非而观其志；二曰，穷之以辞辨而观其变；三曰，资之以计谋而观其识；四曰，告之以祸福而观其勇；五曰，醉之以酒以观其性；六曰，临之以利以观其廉；七曰，期之以事以观其信
        p 夫知人之性，莫难查焉。美恶既殊，情貌不一。有温良而为诈者，有外恭而内自欺者，有外勇而内怯者，有尽力而不忠者。然知人之道有七焉：一曰，问之以是非而观其志；二曰，穷之以辞辨而观其变；三曰，资之以计谋而观其识；四曰，告之以祸福而观其勇；五曰，醉之以酒以观其性；六曰，临之以利以观其廉；七曰，期之以事以观其信
        p 夫知人之性，莫难查焉。美恶既殊，情貌不一。有温良而为诈者，有外恭而内自欺者，有外勇而内怯者，有尽力而不忠者。然知人之道有七焉：一曰，问之以是非而观其志；二曰，穷之以辞辨而观其变；三曰，资之以计谋而观其识；四曰，告之以祸福而观其勇；五曰，醉之以酒以观其性；六曰，临之以利以观其廉；七曰，期之以事以观其信
        p 夫知人之性，莫难查焉。美恶既殊，情貌不一。有温良而为诈者，有外恭而内自欺者，有外勇而内怯者，有尽力而不忠者。然知人之道有七焉：一曰，问之以是非而观其志；二曰，穷之以辞辨而观其变；三曰，资之以计谋而观其识；四曰，告之以祸福而观其勇；五曰，醉之以酒以观其性；六曰，临之以利以观其廉；七曰，期之以事以观其信
        p 夫知人之性，莫难查焉。美恶既殊，情貌不一。有温良而为诈者，有外恭而内自欺者，有外勇而内怯者，有尽力而不忠者。然知人之道有七焉：一曰，问之以是非而观其志；二曰，穷之以辞辨而观其变；三曰，资之以计谋而观其识；四曰，告之以祸福而观其勇；五曰，醉之以酒以观其性；六曰，临之以利以观其廉；七曰，期之以事以观其信
        p 夫知人之性，莫难查焉。美恶既殊，情貌不一。有温良而为诈者，有外恭而内自欺者，有外勇而内怯者，有尽力而不忠者。然知人之道有七焉：一曰，问之以是非而观其志；二曰，穷之以辞辨而观其变；三曰，资之以计谋而观其识；四曰，告之以祸福而观其勇；五曰，醉之以酒以观其性；六曰，临之以利以观其廉；七曰，期之以事以观其信
        p 夫知人之性，莫难查焉。美恶既殊，情貌不一。有温良而为诈者，有外恭而内自欺者，有外勇而内怯者，有尽力而不忠者。然知人之道有七焉：一曰，问之以是非而观其志；二曰，穷之以辞辨而观其变；三曰，资之以计谋而观其识；四曰，告之以祸福而观其勇；五曰，醉之以酒以观其性；六曰，临之以利以观其廉；七曰，期之以事以观其信
        p 夫知人之性，莫难查焉。美恶既殊，情貌不一。有温良而为诈者，有外恭而内自欺者，有外勇而内怯者，有尽力而不忠者。然知人之道有七焉：一曰，问之以是非而观其志；二曰，穷之以辞辨而观其变；三曰，资之以计谋而观其识；四曰，告之以祸福而观其勇；五曰，醉之以酒以观其性；六曰，临之以利以观其廉；七曰，期之以事以观其信
        p 夫知人之性，莫难查焉。美恶既殊，情貌不一。有温良而为诈者，有外恭而内自欺者，有外勇而内怯者，有尽力而不忠者。然知人之道有七焉：一曰，问之以是非而观其志；二曰，穷之以辞辨而观其变；三曰，资之以计谋而观其识；四曰，告之以祸福而观其勇；五曰，醉之以酒以观其性；六曰，临之以利以观其廉；七曰，期之以事以观其信
        p 夫知人之性，莫难查焉。美恶既殊，情貌不一。有温良而为诈者，有外恭而内自欺者，有外勇而内怯者，有尽力而不忠者。然知人之道有七焉：一曰，问之以是非而观其志；二曰，穷之以辞辨而观其变；三曰，资之以计谋而观其识；四曰，告之以祸福而观其勇；五曰，醉之以酒以观其性；六曰，临之以利以观其廉；七曰，期之以事以观其信
        p 夫知人之性，莫难查焉。美恶既殊，情貌不一。有温良而为诈者，有外恭而内自欺者，有外勇而内怯者，有尽力而不忠者。然知人之道有七焉：一曰，问之以是非而观其志；二曰，穷之以辞辨而观其变；三曰，资之以计谋而观其识；四曰，告之以祸福而观其勇；五曰，醉之以酒以观其性；六曰，临之以利以观其廉；七曰，期之以事以观其信
        p 夫知人之性，莫难查焉。美恶既殊，情貌不一。有温良而为诈者，有外恭而内自欺者，有外勇而内怯者，有尽力而不忠者。然知人之道有七焉：一曰，问之以是非而观其志；二曰，穷之以辞辨而观其变；三曰，资之以计谋而观其识；四曰，告之以祸福而观其勇；五曰，醉之以酒以观其性；六曰，临之以利以观其廉；七曰，期之以事以观其信
        p 夫知人之性，莫难查焉。美恶既殊，情貌不一。有温良而为诈者，有外恭而内自欺者，有外勇而内怯者，有尽力而不忠者。然知人之道有七焉：一曰，问之以是非而观其志；二曰，穷之以辞辨而观其变；三曰，资之以计谋而观其识；四曰，告之以祸福而观其勇；五曰，醉之以酒以观其性；六曰，临之以利以观其廉；七曰，期之以事以观其信
      .icon-bar
        each val in ['home','bell','envelope','user']
          a
            i.fa(class=`fa-${val}`)

